.navbar {
    height: 5em;
}

.nav-link {
    margin-top: 0.1em;
    margin-left: 0.5em;
    color: white;
}

.card {
    margin: 2em;
    width: 23em;
    margin: relative;
    margin-top: 5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    margin: relative;
    margin-top: 17px;
    margin-left: 2em;
}

.grey {
    background-color: rgba(0, 0, 0, 0.164);
    color: rgba(0, 0, 0, 0.568)
}
.table {
    width: 45rem;
    margin: relative;
    margin-top: 1em;
    margin-left: 5em;
}

body{
    background-image: url("http://globalmedicalco.com/photos/globalmedicalco/8/37363.png");
    background-size: cover;
}